button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: var(--spacing-200) var(--spacing-1300);
  width: 100%;
  /* style */
  border-radius: 22.5px;
  background-color: var(--color-white);
  color: var(--color-grey-900);
  /* typography (Text Preset 5 - Overpass Bold) */
  font-family: var(--font-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1.87px;
  text-transform: uppercase;
}

button:disabled {
  background: var(--color-orange-500);
  color: var(--color-grey-950);
  cursor: not-allowed;
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  button {
    /* typography (Text Preset 5 - Overpass SemiBold) */
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.17px;
  }
}