.card {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 327px;
  height: 360px;
  padding: var(--spacing-300);
  gap: var(--spacing-100);
  flex-shrink: 0;
  /* style */
  border-radius: 15px;
  background: var(--gradient-primary);
}