.card {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 327px;
  height: 360px;
  padding: var(--spacing-300);
  gap: var(--spacing-100);
  flex-shrink: 0;
  /* style */
  border-radius: 15px;
  background: var(--gradient-primary);
}

.card-container {
  width: 279px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300);
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-200);
}

#thank-you-card .card-container,
#thank-you-card .text-content {
  align-items: center;
  text-align: center;
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  .card {
    width: 412px;
    height: 416px;
  }

  .card-container {
    width: 351px;
    gap: var(--spacing-400);
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {}