form {
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-200);
  width: 100%;
}

/* Hide the default radio buttons */
.rating-container input[type="radio"] {
  display: none;
}

/* Add rating spacing */
.rating-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* Style the labels to look like circular buttons */
.rating-container label {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  padding: var(--spacing-100) var(--spacing-200);
  cursor: pointer;
  /* style */
  border-radius: 21px;
  background-color: var(--color-grey-900);
  /* typography */
  font-family: var(--font-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1.87px;
  color: var(--color-grey-500);
  /* animation */
  transition: background-color 0.3s, color 0.3s;
}

/* Change background and text color when a label is hovered */
.rating-container label:hover {
  background-color: var(--color-orange-500);
  color: var(--color-grey-900);
}

/* Style the label when its radio input is selected */
.rating-container input[type="radio"]:checked+label {
  background-color: var(--color-white);
  color: var(--color-grey-900);
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  form {
    gap: var(--spacing-400);
  }

  .rating-container label {
    /* layout */
    width: 51px;
    height: 51px;
    padding: var(--spacing-200) var(--spacing-300);
    /* style */
    border-radius: 25.5px;
    /* typography */
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {}