.icon-star {
  /* layout */
  display: flex;
  width: 40px;
  height: 40px;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* style */
  border-radius: 20px;
  background: var(--color-grey-900);
}