/* Import */

@font-face {
  font-family: 'Overpass';
  src: url('../../fonts/Overpass.ttf') format('truetype');
}

:root {
  --font-primary: 'Overpass', sans-serif;
}

/* Text Presets */

h1 {
  /* Text Preset 2 - Overpass Bold */
  font-family: var(--font-primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: var(--color-white);
}

p {
  /* Text Preset 5 - Overpass Regular */
  font-family: var(--font-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: var(--color-grey-500);
}

.rating-answer {
  /* Text Preset 5 - Overpass Regular */
  color: var(--color-orange-500);
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  h1 {
    /* Text Preset 1 - Overpass Bold */
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
  }

  p {
    /* Text Preset 4 - Overpass Regular */
    font-size: 15px;
  }
}