:root {
  /* Colors */
  /* Primary */
  --color-orange-500: #FC7614;

  /* Neutral */
  --color-white: #FFFFFF;
  --color-grey-500: #969FAD;
  --color-grey-900: #262E38;
  --color-grey-950: #131518;
  --color-black: #000000;

  /* Gradient */
  --gradient-primary: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);

  /* Spacing */
  --spacing-0: 0;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-1300: 104px;
  --spacing-1700: 136px;
}